.shop {
  width: 100%;
  padding: 40px 50px;
  margin: 0 auto;
}

.shop h1 {
  color: #171717;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .shop {
    padding: 20px;
  }
  
  .shop h1 {
    font-size: 2rem;
  }
  
  .products {
    gap: 20px;
  }
} 