header{
  width: 1500px;
  height: 100px;
  margin: -140px 85px 0px 85px;
  display: flex;
  align-items: center;
  gap: 95px;
  justify-content: space-around;
  background-color: #1B1B1B;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  position: fixed;
}
.header-main{
  list-style: none;
  display: flex;
  gap: 70px;
}
.header-menu-item{
  font-size: 18px;
  color:#9C9C9C;
  cursor: pointer;
}
.header-links{
  display: flex;
  align-items: center;
  gap: 15px;
}
.links{
  height: 22px;
}
.git{
  height: 35px;
}
.button-link{
  background: transparent;
}
.flag{
  height: 20px;
}
.select-language{
}
.select-language div{

}
.select-language span{
 text-transform: capitalize;
 color: black;
}
.me{
  padding: 20px;
  display: flex;
  gap:132px;
  align-items: center;
  margin-top: 130px;
}
.me-text{
  text-align: left;
}
.me-text h1{
  font-size: 44px;
  font-family:"Raleway", sans-serif
}
.me-par{
  width: 492px;
  color: #9C9C9C;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'IBM Plex Mono', monospace;
}
.me-button{
  background-color: #3F8E00;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  width: 300px;
  margin-top: 30px;
}
.me-button:hover{
  box-shadow: 0 0 20px #62BA1B;
  border-color: #62BA1B;
}
.myPhoto{
  border-radius: 100%;
  width:350px ;
  height:350px;
}
.worked{
  margin-top: 150px;
  text-align: left;
  margin-bottom:50px;
}
.worked h2{
  margin-left: 40px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.worked ul{
  display: flex;
  align-items: center;
  gap: 50px;
}
.company-card{
  width: 160px;
  height: 60px;
}