.work-queue{
  width: 1050px;
  margin-top: 40px;
  margin-left: 50px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid rgb(45, 61, 91);
  background-color: #181e32;
}
.caption{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(45, 61, 91);
}
.filters-container{
  display: flex;
  padding: 5px;
}
.filters{
  display: flex;
  gap: 20px;
}
.filter-item-active{
  padding: 7px;
  font-size: 17px;
  border-radius: 50px;
  border: none;
  background-color:#4E73DF;
  cursor: pointer;
}
.filter-item{
  padding: 7px;
  font-size: 17px;
  border-radius: 50px;
  border: none;
  background-color:black;
  cursor: pointer;
}
.container{
  max-width: 950px;
  margin: 0 auto;
}
.name{
  color:white;
}
.client{
  color:white;
}
@media screen and (max-width:1440px) {
  .filters{
    margin-left: -30px;
  }
  .work-queue{
    margin-left: 40px;
  }
}
@media screen and (max-width:1024px) {
  .work-queue{
    width: 90%;
    margin-left: 40px;
    margin-right: 20px;
  }
  .filters{
    margin-left: -40px;
  }
  
}